// Proxima Nova Start
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova/ProximaNova-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova/ProximaNova-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova/ProximaNova-Bold.ttf);
  font-weight: 700;
}
// Proxima Nova End

// Nunito Sans Start
@font-face {
  font-family: 'NunitoSans';
  src: url(../fonts/NunitoSans/NunitoSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'NunitoSans';
  src: url(../fonts/NunitoSans/NunitoSans-SemiBold.ttf);
  font-weight: 600;
}
// Nunito Sans End

// Gilroy Start
@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy/Gilroy-SemiBold.ttf);
  font-weight: 600;
}
// Gilroy End

// FuturaPT Start
@font-face {
  font-family: 'FuturaPT';
  src: url(../fonts/FuturaPT/FuturaPT-Book.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'FuturaPT';
  src: url(../fonts/FuturaPT/FuturaPT-Heavy.ttf);
  font-weight: 700;
}
// FuturaPT End

// Inter Start
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter-Medium.ttf);
  font-weight: 500;
}
// Inter End

// Banana Brick Start
@font-face {
  font-family: 'BananaBrick';
  src: url(../fonts/BananaBrick/BBrick.ttf);
  font-weight: 400;
}
// Banana Brick End